.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
 }

 .live-price {
  text-align:center;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: rgb(180, 43, 66);
  color: #fff;
  border-radius: 20px;
  padding: 20px;
 }

 .live-price-title {
  padding: 7px;
  margin-bottom: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgb(68, 68, 197);
  border-radius: 5px;
  font-size: 22px
 }

 .live-price-content {
  font-size: 40px;
  font-family: 'Courier New', monospace;
 }

 .predict-price {
  text-align:center;
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  background-color: blue;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
 }

 .up-predict-button {
  padding: 8px 12px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 5px;
}
.up-predict-button:hover {background-color: #3e8e41}
.up-predict-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 .down-predict-button {
  padding: 8px 12px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 5px;
}
.down-predict-button:hover {background-color: maroon}
.down-predict-button:active {
  background-color: rgb(235, 86, 86);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button[disabled=disabled], button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

 .player-score {
  background-color: purple;
  border-radius: 6px;
  color: #fff;
  text-align:center;
  position: fixed;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  padding: 10px;
 }
.actual-score {
  font-size: 70px;
}
.reset-score-button {
  background-color: rgb(190, 190, 0);
  border-radius: 6px;
  color: #fff;
  text-align:center;
  position: fixed;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  padding: 10px;
}